<!doctype html>
<html>

<head>
  <% include head.ejs %>
</head>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('.tabs').tabs();
    $('.timepicker').timepicker({
      twelveHour: false
    });
    $('input.autocomplete').autocomplete({
      data: {
        "Apple": null,
        "Microsoft": null,
        "Google": 'https://placehold.it/250x250'
      },
    });
    $('.collapsible').collapsible();
    initDatePicker();
    $('.stepper').activateStepper({
      linearStepsNavigation: true, //allow navigation by clicking on the next and previous steps on linear steppers
      autoFocusInput: true, //since 2.1.1, stepper can auto focus on first input of each step
      autoFormCreation: false, //control the auto generation of a form around the stepper (in case you want to disable it)
      showFeedbackLoader: true //set if a loading screen will appear while feedbacks functions are running,
    });
  }, false);
</script>

<style>
  .left-td {
    font-weight: bold;
  }

  .border {
    border: 2px solid rgba(109, 92, 92, 0.753);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .border-right {
    border-right: 1px solid rgba(109, 92, 92, 0.514);
  }

  td {
    padding: 10px 5px;
  }
</style>

<body>
  <% include navbar.ejs %>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s12 m6 l4 offset-l2">
            <h6 class="center-align">NAJSKORIJE POTPISANI UGOVORI</h6>
            <table>
              <thead>
                <th>Naziv kompanije</th>
                <th>Datum potpisa</th>
              </thead>
              <tbody>
                <% for(var i=0; i < mostRecentCreatedContracts.length; i++) { %>
                  <tr>
                    <td>
                      <%= mostRecentCreatedContracts[i].company.Name %>
                    </td>
                    <td>
                      <%= mostRecentCreatedContracts[i].CreationDate %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
          <div class="col s12 m6 l4">
            <h6 class="center-align">UGOVORI KOJI USKORO ISTICU</h6>
            <table>
              <thead>
                <th>Naziv kompanije</th>
                <th>Datum isteka</th>
              </thead>
              <tbody>
                <% for(var i=0; i < mostRecentExpiredContracts.length; i++) { %>
                  <tr>
                    <td>
                      <%= mostRecentExpiredContracts[i].company.Name %>
                    </td>
                    <td>
                      <%= mostRecentExpiredContracts[i].ExpiredDate %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul id="tabs-swipe-demo" class="tabs">
              <li class="tab col s2">
                <a class="active" href="#tab-dashboard">Kontrolna tabla</a>
              </li>
              <li class="tab col s2">
                <a href="#tab-register-requests">Zahtevi registracije</a>
              </li>
              <li class="tab col s2">
                <a href="#tab-add-company">Dodaj kompaniju</a>
              </li>
              <li class="tab col s2">
                <a href="#tab-add-package">Dodaj paket</a>
              </li>
              <li class="tab col s2">
                <a href="#tab-search-company">Pretraga</a>
              </li>
            </ul>
            <div id="tab-dashboard" class="col s12 tab-content">
              <h5 class="center-align">Vremenski dijagram</h5>
              <%- include("tab-dashboard", {
                mostRecentNextSixMonthContracts: mostRecentNextSixMonthContracts,
                mostRecentPreviousSixMonthContracts: mostRecentPreviousSixMonthContracts,
              }) %>
            </div>
            <div id="tab-add-company" class="col s12 tab-content">
              <% include tab-add-company.ejs %>
            </div>
            <div id="tab-add-package" class="col s12 tab-content">
              <% include tab-add-package.ejs %>
            </div>
            <div id="tab-search-company" class="col s12 tab-content">
              <% include tab-search-company.ejs %>
            </div>
            <div id="tab-register-requests" class="col s12 tab-content">
              <%- include("tab-registration-requests", {
                registerRequests: registerRequests
              }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include footer.ejs %>
</body>

</html>