<!doctype html>
<html>

<head>
    <% include head.ejs %>
</head>
<script>
    $(document).ready(function () {

    });
</script>

<body>
    <% include navbar.ejs %>
        <div class="row wrapper">
            <div class="col s12 m6 offset-m3">
                <h4 class="left-align">
                    <i class="material-icons left" style="font-size: 2.28rem">search</i>PRETRAGA</h4>
                <form id="searchPartnerForm" class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="companyName" type="text" class="validate" name="CompanyName">
                                <label for="companyName">Naziv kompanije</label>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row center-align">
                            <button class="btn waves-effect waves-light" type="submit">PRETRAZI
                                <i class="material-icons left">search</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <% for (var package in partnerPackages) { %>
                        <a class="partner-package waves-effect waves-light btn-large"
                           href="#<%= package %>">
                            <div class="col s3 ">
                                <%= package %>
                            </div>
                        </a>
                    <% } %>
                </div>
                <% for (var package in partnerPackages) { %>
                    <table id="<%= package %>" class="highlight">
                        <thead>
                            <tr>
                                <th>Naziv kategorije</th>
                                <th>Naziv kompanije</th>
                                <th>Logo kompanije</th>
                                <th>Kratak opis</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < partnerPackages[package].length; i++) { %>
                            <tr>
                                <td><%= package %></td>
                                <td>
                                    <a href="http://<%= partnerPackages[package][i].company.Website %>" target="_blank">
                                        <%= partnerPackages[package][i].company.Name %>
                                    </a>
                                </td>
                                <td>
                                    <a href="http://<%= partnerPackages[package][i].company.Website %>" target="_blank">
                                        <img class="company-logo-small" src="<%= partnerPackages[package][i].company.Logo %>"/>
                                    </a>
                                </td>
                                <td><%= partnerPackages[package][i].company.Description %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
        <% include footer.ejs %>
</body>

</html>