<div class="row">
  <div id="timeline" class="col s12">
    <%- include("timeline_diagram",  {mostRecentNextSixMonthContracts: mostRecentNextSixMonthContracts}) %>
  </div>
  <div class="row">
    <div class="col s6 l4 offset-l2">
      <h6 class="center-align">NAJSKORIJE POTPISANI UGOVORI</h6>
      <table>
        <thead>
          <th>Naziv kompanije</th>
          <th>Datum</th>
          <th>Detalji</th>
        </thead>
        <tbody>
          <% for(var i=0; i < mostRecentPreviousSixMonthContracts.length; i++) { %>
            <tr>
              <td>
                <%= mostRecentPreviousSixMonthContracts[i].company.Name %>
              </td>
              <td>
                <%= mostRecentPreviousSixMonthContracts[i].CreationDate %>
              </td>
              <td>
                <a href="<%= mostRecentPreviousSixMonthContracts[i].company.PIB %>">Detalji</a>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
    <div class="col s6 l4">
      <h6 class="center-align">UGOVORI KOJI USKORO ISTICU</h6>
      <table>
        <thead>
          <th>Naziv kompanije</th>
          <th>Datum</th>
          <th>Detalji</th>
        </thead>
        <tbody>
          <% for(var i=0; i < mostRecentNextSixMonthContracts.length; i++) { %>
            <tr>
              <td>
                <%= mostRecentNextSixMonthContracts[i].company.Name %>
              </td>
              <td>
                <%= mostRecentNextSixMonthContracts[i].ExpiredDate %>
              </td>
              <td>
                <a href="<%= mostRecentNextSixMonthContracts[i].company.PIB %>">Detalji</a>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>